
.image-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin-top: 50px;
}


.container {
    background-color: white; /* cor de fundo do container */
    padding: 20px;
    width: 300px;
    margin-top: 60px;
}

.campos {
    margin-bottom: 10px; /* espaçamento entre campos */
}

label {
    display: block; /* exibe cada rótulo em uma nova linha */
    margin-bottom: 5px; /* espaçamento abaixo do rótulo */
}

#btnSubmit {
    display: inline-block;
    background-color: #35b5ff; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Ícone de cursor ao passar o mouse */

    /* Sombra sutil */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    /* Transição suave */
    transition: background-color 0.3s ease;
}

#btnSubmit:hover {
    background-color: #35b5ff; /* Cor de fundo ao passar o mouse */
}