<div class="container-sidebar">
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark col-auto" id="sidebar"> <!-- Remova estilos inline de largura -->
        <span class="fs-4 d-flex align-items-center mb-3 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
            VTHoftalon
        </span>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="/admin-panel" class="nav-link" aria-current="page" [ngClass]="{'active': currentScreen === 'panel'}" (click)="setCurrentScreen('panel')">
                    <i class="bi bi-house"></i> <span class="ms-1">Painel</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/create-patient-panel" class="nav-link" [ngClass]="{'active': currentScreen === 'create-patient'}" (click)="setCurrentScreen('create-patient')">
                    <i class="bi bi-person-plus-fill"></i> <span class="ms-1">Novo Paciente</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/consult-patient" class="nav-link" [ngClass]="{'active': currentScreen === 'consult-patient'}" (click)="setCurrentScreen('consult-patient')">
                    <i class="bi bi-search"></i> <span class="ms-1">Consultar Paciente</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link" [ngClass]="{'active': currentScreen === 'consult-doctor'}" (click)="setCurrentScreen('consult-doctor')">
                    <i class="bi bi-person"></i> <span class="ms-1">Consultar Doutor (em breve)</span>
                </a>
            </li>
            <li>
                <a href="#" class="nav-link" [ngClass]="{'active': currentScreen === 'create-doctor'}" (click)="setCurrentScreen('create-doctor')">
                    <i class="bi bi-gear"></i> <span class="ms-1">Novo Doutor (em breve)</span>
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="..." alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>{{user}}</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                <li><a href="#" class="dropdown-item">Perfil</a></li>
                <li><a href="#" class="dropdown-item">Configurações</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a href="#" class="dropdown-item">Sair</a></li>
            </ul>
        </div>
    </div>
</div>
